<div id='messages_wrapper'>
  <p id="messages_time"><%= data.timeMessage %></p>
  <p id="messages_quote"><%= data.quoteMessage.quote %></p>
  <p id="messages_author">-<%= data.quoteMessage.author %></p>
</div>